
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  padding: 10em 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  background: #444;
}

nav ul li {
  margin: 0 15em;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10em;
  list-style: none;
  overflow-x: auto;
  white-space: nowrap;
}

nav ul li {
  margin: 0 10em;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

section {
    display: none;
}

section.active {
    display: block;
}


@media (max-width: 768em) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li a {
    font-size: 14em;
  }

section {
  padding: 20em;
  margin: 20em auto;
  background: #fff;
  border-radius: 8em;
  max-width: 900em;
  box-shadow: 0 2em 4em rgba(0, 0, 0, 0.1);
}

h2 {
  color: #444;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20em 0;
}

table th, table td {
  border: 1em solid #ddd;
  padding: 8em;
  text-align: left;
}

table th {
  background: #333;
  color: #fff;
}


 #pencapaian {
  text-align: center;
  background-color: #f9f9f9;
  padding: 50em 0;
}

.achievement-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20em;
}

.achievement-item:hover {
  transform: scale(1.05);
}

.achievement-item {
  background: #fff;
  border: 1em solid #ddd;
  border-radius: 10em;
  padding: 15em;
  max-width: 300em;
  text-align: left;
  box-shadow: 0 2em 5em rgba(0, 0, 0, 0.1);
}

.achievement-item img {
  max-width: 100%;
  border-radius: 10em;
  margin-bottom: 10em;
}

.achievement-item h3 {
  font-size: 18em;
  margin: 10em 0 5em;
}

.achievement-item p {
  font-size: 14em;
  color: #666;
}

footer {
  text-align: center;
  padding: 10em;
  background: #333;
  color: #fff;
}
